body {
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
.hero {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.nav-search {
  margin-top: 12px;
}

.hero-section {
  background: url("../img/hero-banner.jpg") center/cover;
}

.highlight-sections {
  background-color: #f4f7fc;
}

.section-header {
  font-size: 2.75rem;
  font-weight: 700;
  color: #343a40;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.text-muted {
  color: #6c757d;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shadow-sm {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .section-header {
    font-size: 2.25rem;
  }

  .section-title {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  .nav-search {
    margin-top: 0px;
  }
}
