.carousel-inner img {
  height: 500px; /* Adjust height as needed */
  object-fit: cover; /* Ensures the image covers the entire container */
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}
.card-body {
  padding: 10px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.card-text {
  font-size: 14px;
  color: #6c757d;
}

.download-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.download-btn:hover {
  background-color: #0056b3;
}